<div class="app-container">
  <nav *ngIf="isLoggedIn()">
    <ul class="navbar">
      <div class="nav-left">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/calculator" routerLinkActive="active">Calculator</a></li>
        <li><a routerLink="/filter-dropdown" routerLinkActive="active">Country</a></li>
        <li><a routerLink="/support" routerLinkActive="active">Support</a></li>
      </div>
      <div class="nav-right">
        <li class="welcome-message">Welcome, {{ getUsername() }}!</li>
        <li class="logout"><a (click)="logout()">Logout</a></li>
      </div>
    </ul>
  </nav>

  <!-- Router Outlet for Rendering Components -->
  <router-outlet></router-outlet>
</div>